<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cost</title>
</head>
<body>
<form action="{% url 'cart' %}"></form>
{% csrf_token%}

<h3>
    cost=rs 90000
</h3>
<p>The Haier 1.5Ton 5 Star Split AC has a high cooling capacity and comes with features like Self Clean technology and
Triple Inverter+. While the best-in-class motor enables air to be blown as long as 15 meters, and is capable of
providing the best in class cooling even at an extreme temperature of 60 degrees.</p>
</body>
</html>