<!
<html>
<head>
    <meta charset="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Air conditioner discription</title>
</head>
<body>
<form action="" method="post"></form>
The Haier 1.5Ton 5 Star Split AC has a high cooling capacity and comes with features like Self Clean technology and
Triple Inverter+. While the best-in-class motor enables air to be blown as long as 15 meters, and is capable of
providing the best in class cooling even at an extreme temperature of 60 degrees.


</body>
</html>